.List {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 600px;
    background-color: white;
    color: black !important;

    th {
        text-align: center;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2;}

    tr:hover {background-color: #ddd;}

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #7FB3D5;
        color: white;
    }

    .user-region-list {
        animation-name: blink-list;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
        animation-iteration-count: 3;
        animation-fill-mode: both;
    }

    @keyframes blink-list {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

}
