.user-region {
  opacity: 0;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  animation-iteration-count: 4;
  animation-fill-mode: both;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
